@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,900&family=Hind:wght@300&family=Taviraj:wght@500&display=swap');

/* font-family: 'Exo 2', sans-serif;
font-family: 'Hind', sans-serif;
font-family: 'Taviraj', serif; */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Hind', sans-serif;
}