@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,900&family=Hind:wght@300&family=Taviraj:wght@500&display=swap');

/* font-family: 'Exo 2', sans-serif;
font-family: 'Hind', sans-serif;
font-family: 'Taviraj', serif;*/

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    color: #a9b481;
    background-color: #683E13;
    text-shadow: 2px 2px black;
    /* padding-bottom: 625px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* headings and logo*/

header {
    width: 100%;
    height: 5rem;
}

h1, h2 {
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #557e56;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    letter-spacing: 4px;
    float: right;
    flex-direction: row-reverse;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 75px;
}

#menu a:hover {
    border-bottom: 1px solid #36E023;
}

.hambtn {
    background: none;
    position: absolute;
    top:15px;
    right: 15px;
    display: none;
    cursor: pointer;
}

.active {
    border-bottom: 1px solid #36E023;
}

/* hero image*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #683E13;
}

#hero {
    height: 100%;
    width: 100%;
    background: url('../images/rock_climbing.jpg') no-repeat center/115%;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero2 {
    height: 100%;
    width: 100%;
    background: url('../images/adventure-park-activities-header.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero3 {
    height: 100%;
    width: 100%;
    background: url('../images/waterfall-connemara.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}



/* zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: 'Taviraj', serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 600px;
    height: 100px;

    padding-top: 40px;
    padding-left: 10px;

    top: 30px;
    left: 50px;

    position: absolute;
}

#cover-text3 {
    font-size: 130%;
    font-family: 'Taviraj', serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 600px;
    height: 100px;

    padding-top: 40px;
    padding-left: 10px;

    top: 30px;
    right: 50px;

    position: absolute;
}

/* Homepage info */

#bf-info {
    min-height: 600px;
    width: 100%;
    padding: 50px 10px 50px 10px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.left-heading {
    text-align: left;
    clear: right;
    padding-top: 30px;
}

.right-paragraph {
    text-align: right;
    width: 95%;
}

.right-heading {
    text-align: right;
}

.left-paragraph {
    text-align: left;
    width: 95%;
}

.segmentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.segmentDiv2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.textDiv {
    padding-left: 50px;
    padding-right: 50px;
}

.textDiv h2 {
    margin-bottom: 50px;
}

/* Homepage image styling */

#muck_woman {
    clip-path: polygon(41% 19%, 100% 50%, 47% 79%, 0% 100%, 25% 50%, 0% 0%);
    width: 500px;
    height: 300px;
}

#cabin {
    float: right;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

#bonfire {
    clip-path: polygon(41% 19%, 100% 50%, 47% 79%, 0% 100%, 25% 50%, 0% 0%);
}

/* Footer */

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color:#557e56;
}

.socials {
    list-style-type: none;
    font-size: 50px;
    padding-left: 60%;
}

.socials > li {
    display: inline;
    width: 100%;
    padding-left: 5%;
    padding-bottom: 10px;
    padding-right: 10px;
}

footer > p {
    float: left;
    text-shadow: none;
    font-weight: 600;
    width: 33%;
    color: #683E13;
}

#gallery {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    row-gap: 0;
    width: fit-content;
    height: fit-content;
    width: 100%;
    display: none;
    overflow: hidden;
}

.gallery-image {
    width: 650px;
    height: 550px;
    object-fit: cover;

}

.gallery-image2 {
    width: 650px;
    height: 1100px;
}

#info {
    width: 90%;
    padding-top: 20px;
    padding-left: 20px;
}

/* form styling */

.form-container {
    max-width: 500px;
    margin: 0 auto;
    float: left;
    padding-top: 30px;
    padding-bottom: 80px;
    padding-left: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input,
.form-container select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.form-container .checkbox-container {
    display: flex;
}

.form-container .checkbox-container label {
    margin-right: 10px;
}

.radio-container {
    display: flex;
    align-items: center;
}

.radio-button {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.radio-button input[type="radio"] {
    margin-right: 5px;
}

.radio-container label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.radio-container input[type="radio"] {
    margin-right: 5px;
}

.form-container .submit-button {
    background-color: #a9b481;
    color: #683E13;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 860px) {
    .segmentDiv {
        flex-direction: column-reverse;
    }
     .segmentDiv2 {
        flex-direction: column;
     }
}

@media only screen and (max-width: 776px) {
    #logo {
        font-size: 160%;
        width: 70%;
    }
    #menu, #logo {
        line-height: 50px;
    }

    #menu {
        background: #557e56;
        z-index: 5;
        top: 75px;
        position: absolute;
        right: 0px;
        display: none;
    }
    #menu ul {
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: flex-end;
        padding-right: 20px;
    }
    header {
        position: relative;
    }
    #muck_woman {
        float: center;
        width: 400px;

    }
    #cabin {
        float: center;
        width: 100%;
    }
    #bonfire {
        float: center;
        width: 100%;
    }
    .hambtn {
        display: block;
        
    }
  }

  @media only screen and (max-width: 550px) {
    #menu {
        top: 110px;
    }

  }

@media only screen and (max-width: 1550px) {
    
    
    .gallery-image {
        width: 550px;
        height: 450px;
        object-fit: cover;
    
    }
    
    .gallery-image2 {
        width: 550px;
        height: 900px;
    }
}

@media only screen and (max-width: 1370px) {

    .gallery-image {
        width: 450px;
        height: 350px;
        object-fit: cover;
    
    }
    
    .gallery-image2 {
        width: 450px;
        height: 700px;
    }
}

@media only screen and (max-width: 1100px) {

    .gallery-image {
        width: 370px;
        height: 270px;
        object-fit: cover;
    
    }
    
    .gallery-image2 {
        width: 370px;
        height: 540px;
    }
}

@media only screen and (max-width: 1000px) {

    .gallery-image {
        width: 500px;
        height: 400px;
        object-fit: cover;
    
    }
    
    .gallery-image2 {
        width: 500px;
        height: 800px;
    }

    #gallery {
        column-count: 2;
    }

    #oddFit {
        display: none;
    }
}


@media only screen and (max-width: 800px) {

    .gallery-image {
        width: 400px;
        height: 300px;
        object-fit: cover;
    
    }
    
    .gallery-image2 {
        width: 400px;
        height: 600px;
    }
}

@media only screen and (max-width: 665px) {

    .gallery-image {
        width: 350px;
        height: 225px;
        object-fit: cover;
    
    }
    
    .gallery-image2 {
        width: 350px;
        height: 450px;
    }
}

@media only screen and (max-width: 550px) {

    #gallery {
        column-count: 1;
    }
    .gallery-image {
        width: 550px;
        height: 400px;
        object-fit: cover;
    
    }
    
    .gallery-image2 {
        width: 550px;
        height: 800px;
    }

    #oddFit {
        display: block;
    }
}